.container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    textarea{
        width: 50%;
        height: 50px;
        border: 2px solid rgb(99, 153, 49);
        resize: none;
        padding: 5px;
    }
    .todoInput{
        margin-bottom: 15px;
        width: 50%;
        height: 25px;
        border: 2px solid rgb(99, 153, 49);
        resize: none;
        padding: 5px;
    }
    .addTodo{
        margin-top: 15px;
    }
    .todos{
        display: flex;
        justify-content: space-between;
        // width: 25%;
    }
    .todoCard{
        margin: 15px;
    }
    
}