<div class="container">
  <h1>Todo List</h1>
  <div class="InputDiv">
    <div class="InputInsideDiv">
      <input
        (change)="onKeyInput()"
        class="{{ error ? 'inputError todoInput' : 'todoInput' }}"
        type="text"
        name="todoHeading"
        id="todoHeading"
        [(ngModel)]="todoHeading"
        placeholder="Enter your todo heading"
      />
      <span *ngIf="error" class="{{ error ? 'spanError' : '' }}">Required</span>
    </div>
    <div class="InputInsideDiv">
      <textarea
        (change)="onKeyInput()"
        class="{{ error ? 'inputError' : '' }}"
        type="text"
        name="todoDesc"
        id="todoDesc"
        [(ngModel)]="todoDesc"
        placeholder="Enter your todo task"
      ></textarea>
      <span *ngIf="error" class="{{ error ? 'spanError' : '' }}">Required</span>
    </div>
  </div>

  <button
    (click)="onTodoClick()"
    mat-raised-button
    color="primary"
    class="addTodo"
  >
    Add Todo
  </button>
  <div class="todos">
    <mat-card class="todoCard" *ngFor="let todo of allTodos">
      <mat-card-title class="{{ todo.active ? '' : 'checked' }}">{{
        todo.heading
      }}</mat-card-title>
      <mat-card-subtitle class="{{ todo.active ? '' : 'checked' }}">{{
        todo.desc
      }}</mat-card-subtitle>
      <mat-card-actions>
        <button mat-button (click)="onDone(todo)">
          {{ todo.active ? "DONE" : "UNDONE" }}
        </button>
        <button mat-button (click)="onDelete(todo)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
